<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <% include partials/template/head.ejs %>
</head>

<body>
    <% if(entries.length > 1){ %>

    <div class="container backgroundFont">
        <div class="row">
             <h3> Add new item</h3>
            <div class="col-lg-8">
                <form action="/create" method="POST" enctype="multipart/form-data" role="form" accept-charset="utf-8" class="form-horizontal">
                    <div class="form-group">
                          <fieldset class="form-group">
                        <label for="usr">Title:</label>
                        <input type="text" class="form-control" name="title">
                         </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset class="form-group">
                            <label for="foodDescription">Item Description</label>
                            <textarea name="foodDescription" class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </fieldset>
                    </div>
                    <fieldset class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" class="form-control-file" name="exampleInputFile">
                        <!-- <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
                        <br />
                    </fieldset>
                    <div class="form-group">
                        <div >
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </div>
                </form>
            </div><!-- col-lg-12 -->
        </div><!-- row -->
    </div><!-- container backgroundFont -->
    <div class="container backgroundFont">
    <div class="list-group row">
    <h3> Edit Entries</h3>
        <% entries.forEach(function(entry) { %>

        <div class="panel panel-default col-sm-8">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <a href="/profile/<%= entry._id%>" class="list-group-item col-sm-6">
                    <span class="glyphicon glyphicon-file"></span><%= entry.local.title %> 
                   </a>
                </td>
                <td class="text-right text-nowrap">
                    <a href="/delete/<%= entry._id%>">
                         <span class="glyphicon glyphicon-trash gi-2x"></span>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% }); %>
    </div>
    </div>
    <% } else{ %>

        <div class="container backgroundFont">
            <h3> Edit item</h3>
        <div class="row">
            <div class="col-lg-6">
             
                <form action="/create/<%= entries._id%>" method="POST" enctype="multipart/form-data" role="form" accept-charset="utf-8" class="form-horizontal">
                    <div class="form-group">
                          <fieldset class="form-group">
                        <label for="usr">Title:</label>
                        <input type="text" class="form-control" name="title" value="<%=entries.local.title %>">
                         </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset class="form-group">
                            <label for="foodDescription">Item Description</label>
                            <textarea name="foodDescription" class="form-control" id="exampleTextarea" rows="3" ><%=entries.local.entry %></textarea>
                        </fieldset>
                    </div>
                    <!-- <fieldset class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" class="form-control-file" name="exampleInputFile">
                        <br />
                    </fieldset> -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </div>
                </form>
            </div><!-- col-lg-12 -->
        </div><!-- row -->
    </div><!-- container backgroundFont -->
    <% } %>
    <% include partials/template/jsdefaults.ejs %>
</body>

</html>
